@charset "UTF-8";

main {
    width: 100vw;
    height: 90vh;
}

p.cont {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding-top: 75px;
    color: red;
}

form {
    text-align: center;
    padding-top: 90px;
}

form p {
    text-align: center;
    padding: 10px;
}

input.tel {
    width: 156px;
}

input.mail{
    width: 172px;
}

input.one {
    padding: 7px;
    color: white;
    background-color: #EB5A4D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

input.two {
    padding: 7px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}