@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
}
main {
    width: 96.6vw;
    height: 395px;
}

p.cont {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding-top: 45px;
    color: red;
}

form {
    text-align: center;
    padding-top: 50px;
}

form p {
    text-align: center;
    padding: 10px;
}

input.tel {
    width: 156px;
}

input.mail{
    width: 172px;
}

input.one {
    padding: 7px;
    color: white;
    background-color: #EB5A4D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

input.two {
    padding: 7px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

@media screen and (max-width: 600px) 
{
    body {
        width: 100vw;
        height: 100vh;
    }
    main {
        height: 63vh;
    }

    section {
        margin: auto;
    }
    
    p.cont {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2em;
        padding-top: 0px;
        color: red;
    }
    
    form {
        text-align: center;
        padding-top: 40px;
    }
    
    form p {
        text-align: center;
        padding: 10px;
    }
    
    input.tel {
        width: 156px;
    }
    
    input.mail{
        width: 172px;
    }
    
    input.one {
        padding: 7px;
        color: white;
        background-color: #EB5A4D;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 40px;
    }
    
    input.two {
        padding: 7px;
        color: white;
        background-color: grey;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
    }
}