@charset "UTF-8";
 
main {
    height: 67vh;
}
p.one {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 100px;
    padding-bottom: 50px;
    color: red;
}

p {
    font-weight: bold;
    padding: 5px;
    
}

form {
    text-align: center;
}

input.quant {
    width: 141px;
}

input.tel{
    width: 165px;
}

input.end {
    width: 156px;
}

input.one {
    padding: 7px;
    color: white;
    background-color: #EB5A4D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

input.three {
    padding: 7px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

@media screen and (Max-width: 600px)
{
    main {
        height: 67vh;
    }
    p.one {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2.5em;
        padding-top: 50px;
        padding-bottom: 50px;
        color: red;
    }
    
    p {
        font-weight: bold;
        padding: 5px;
        
    }
    
    form {
        text-align: center;
    }
    
    input.quant {
        width: 141px;
    }
    
    input.tel{
        width: 165px;
    }
    
    input.end {
        width: 156px;
    }
    
    input.one {
        padding: 7px;
        color: white;
        background-color: #EB5A4D;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 40px;
    }
    
    input.three {
        padding: 7px;
        color: white;
        background-color: grey;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
    }
}


