@charset "UTF-8";

@media screen and (min-width: 625px) {
    span#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }

}
@media screen and (max-width: 600px)
{

    body {
        width: 97vw;
        height: 112vh;
    }

    div {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    
    div p {
        text-align: justify;
        padding: 10px;
        font-size: 13px;
    }
    div#Primeiro {
        position: relative;
        top: 2%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Um {
        width: 47%;
        height: 69%;
    }

    div#Segundo {
        position: relative;
        top: 1%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Dois {
        width: 47%;
        height: 69%;
    }

    div#Terceiro {
        position: relative;
        top: 0%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Tres {
        width: 47%;
        height: 69%;
    }
    
    div#Quarto {
        position: relative;
        top: 0%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }
    img.Quatro {
        width: 47%;
        height: 69%;
    }

    div#Quinto {
        position: relative;
        top: -1%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Quinto {
        width: 47%;
        height: 69%;
    }

    div#Sexto {
        position: relative;
        top: -2%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Sexto {
        width: 47%;
        height: 69%;
    }

    div#Setimo {
        position: relative;
        top: -3%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Setimo {
        width: 47%;
        height: 69%;
    }

    div#Oitavo {
        position: relative;
        top: -4%;
        left: 3%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Oitavo{
        width: 47%;
        height: 69%;
    }

    div#Nono {
        position: relative;
        top: -5%;
        left: 3%;
        width: 387px;
        height: 210px;
        margin: auto;
    }

    img.Nono{
        width: 47%;
        height: 69%;
    }

    main {
        margin: auto;
        height: 1791px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #EBB73F;
        max-width: 900px;
        min-width: 460px;
    }

}
