@charset "UTF-8";

@media screen and (min-width: 625px) {
    span#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }

}
@media screen and (max-width: 600px)
{

    body {
        width: 102vw;
        height: 112vh;
    }

    div {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    
    div p {
        text-align: justify;
        padding: 10px;
    }
    div#Primeiro {
        position: relative;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Um {
        width: 56%;
        height: 88%;
    }

    div#Segundo {
        position: relative;
        top: 1%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Dois {
        width: 56%;
        height: 88%;
    }

    div#Terceiro {
        position: relative;
        top: 2%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Tres {
        width: 56%;
        height: 88%;
    }
    
    div#Quarto {
        position: relative;
        top: 3%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }
    img.Quatro {
        width: 56%;
        height: 88%;
    }

    div#Quinto {
        position: relative;
        top: 4%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Quinto {
        width: 56%;
        height: 88%;
    }

    div#Sexto {
        position: relative;
        top: 5%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Sexto {
        width: 56%;
        height: 88%;
    }

    div#Setimo {
        position: relative;
        top: 6%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Setimo {
        width: 56%;
        height: 88%;
    }

    div#Oitavo {
        position: relative;
        top: 7%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Oitavo{
        width: 56%;
        height: 88%;
    }

    div#Nono {
        position: relative;
        top: 8%;
        left: -1%;
        width: 397px;
        height: 210px;
        margin: auto;
    }

    img.Nono{
        width: 56%;
        height: 88%;
    }

    main {
        margin: auto;
        height: 331%;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #EBB73F;
        max-width: 900px;
        min-width: 350px;
    }

}
